/* ============================================
   CSS PARTICLES BACKGROUND
   ============================================ */

/* Particles container */
.particles-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

/* Individual particle */
.particle {
    position: absolute;
    border-radius: 50%;
    background-color: #FF1493;
    box-shadow: 0 0 10px #FF1493, 0 0 20px rgba(255, 20, 147, 0.5);
    animation: float linear infinite;
}

/* Floating animation */
@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0;
    }
    10% {
        opacity: 0.7;
    }
    90% {
        opacity: 0.7;
    }
    100% {
        transform: translate(var(--tx), var(--ty)) scale(0.8);
        opacity: 0;
    }
}

/* Generate multiple particles with different sizes, positions and durations */
.particle:nth-child(1) { left: 10%; top: 20%; width: 3px; height: 3px; --tx: 50px; --ty: -100px; animation-duration: 15s; animation-delay: 0s; }
.particle:nth-child(2) { left: 20%; top: 80%; width: 2px; height: 2px; --tx: -40px; --ty: -120px; animation-duration: 18s; animation-delay: 2s; }
.particle:nth-child(3) { left: 30%; top: 40%; width: 4px; height: 4px; --tx: 60px; --ty: -80px; animation-duration: 20s; animation-delay: 4s; }
.particle:nth-child(4) { left: 40%; top: 60%; width: 2px; height: 2px; --tx: -50px; --ty: -110px; animation-duration: 16s; animation-delay: 1s; }
.particle:nth-child(5) { left: 50%; top: 30%; width: 3px; height: 3px; --tx: 70px; --ty: -90px; animation-duration: 19s; animation-delay: 3s; }
.particle:nth-child(6) { left: 60%; top: 70%; width: 2px; height: 2px; --tx: -60px; --ty: -100px; animation-duration: 17s; animation-delay: 5s; }
.particle:nth-child(7) { left: 70%; top: 50%; width: 4px; height: 4px; --tx: 40px; --ty: -130px; animation-duration: 21s; animation-delay: 2s; }
.particle:nth-child(8) { left: 80%; top: 20%; width: 3px; height: 3px; --tx: -70px; --ty: -85px; animation-duration: 15s; animation-delay: 4s; }
.particle:nth-child(9) { left: 15%; top: 60%; width: 2px; height: 2px; --tx: 55px; --ty: -95px; animation-duration: 18s; animation-delay: 1s; }
.particle:nth-child(10) { left: 25%; top: 15%; width: 3px; height: 3px; --tx: -45px; --ty: -105px; animation-duration: 20s; animation-delay: 3s; }
.particle:nth-child(11) { left: 35%; top: 75%; width: 4px; height: 4px; --tx: 65px; --ty: -115px; animation-duration: 16s; animation-delay: 5s; }
.particle:nth-child(12) { left: 45%; top: 35%; width: 2px; height: 2px; --tx: -55px; --ty: -125px; animation-duration: 19s; animation-delay: 2s; }
.particle:nth-child(13) { left: 55%; top: 55%; width: 3px; height: 3px; --tx: 75px; --ty: -75px; animation-duration: 17s; animation-delay: 4s; }
.particle:nth-child(14) { left: 65%; top: 25%; width: 2px; height: 2px; --tx: -65px; --ty: -135px; animation-duration: 21s; animation-delay: 1s; }
.particle:nth-child(15) { left: 75%; top: 65%; width: 4px; height: 4px; --tx: 45px; --ty: -88px; animation-duration: 15s; animation-delay: 3s; }
.particle:nth-child(16) { left: 85%; top: 45%; width: 3px; height: 3px; --tx: -75px; --ty: -98px; animation-duration: 18s; animation-delay: 5s; }
.particle:nth-child(17) { left: 12%; top: 85%; width: 2px; height: 2px; --tx: 52px; --ty: -108px; animation-duration: 20s; animation-delay: 2s; }
.particle:nth-child(18) { left: 22%; top: 10%; width: 3px; height: 3px; --tx: -42px; --ty: -118px; animation-duration: 16s; animation-delay: 4s; }
.particle:nth-child(19) { left: 32%; top: 90%; width: 4px; height: 4px; --tx: 62px; --ty: -92px; animation-duration: 19s; animation-delay: 1s; }
.particle:nth-child(20) { left: 42%; top: 50%; width: 2px; height: 2px; --tx: -52px; --ty: -102px; animation-duration: 17s; animation-delay: 3s; }
.particle:nth-child(21) { left: 52%; top: 30%; width: 3px; height: 3px; --tx: 72px; --ty: -112px; animation-duration: 21s; animation-delay: 5s; }
.particle:nth-child(22) { left: 62%; top: 70%; width: 2px; height: 2px; --tx: -62px; --ty: -82px; animation-duration: 15s; animation-delay: 2s; }
.particle:nth-child(23) { left: 72%; top: 40%; width: 4px; height: 4px; --tx: 48px; --ty: -122px; animation-duration: 18s; animation-delay: 4s; }
.particle:nth-child(24) { left: 82%; top: 80%; width: 3px; height: 3px; --tx: -72px; --ty: -87px; animation-duration: 20s; animation-delay: 1s; }
.particle:nth-child(25) { left: 18%; top: 55%; width: 2px; height: 2px; --tx: 58px; --ty: -97px; animation-duration: 16s; animation-delay: 3s; }
.particle:nth-child(26) { left: 28%; top: 25%; width: 3px; height: 3px; --tx: -48px; --ty: -107px; animation-duration: 19s; animation-delay: 5s; }
.particle:nth-child(27) { left: 38%; top: 95%; width: 4px; height: 4px; --tx: 68px; --ty: -117px; animation-duration: 17s; animation-delay: 2s; }
.particle:nth-child(28) { left: 48%; top: 15%; width: 2px; height: 2px; --tx: -58px; --ty: -127px; animation-duration: 21s; animation-delay: 4s; }
.particle:nth-child(29) { left: 58%; top: 75%; width: 3px; height: 3px; --tx: 78px; --ty: -77px; animation-duration: 15s; animation-delay: 1s; }
.particle:nth-child(30) { left: 68%; top: 35%; width: 2px; height: 2px; --tx: -68px; --ty: -137px; animation-duration: 18s; animation-delay: 3s; }
.particle:nth-child(31) { left: 78%; top: 55%; width: 4px; height: 4px; --tx: 43px; --ty: -83px; animation-duration: 20s; animation-delay: 5s; }
.particle:nth-child(32) { left: 88%; top: 25%; width: 3px; height: 3px; --tx: -73px; --ty: -93px; animation-duration: 16s; animation-delay: 2s; }
.particle:nth-child(33) { left: 5%; top: 45%; width: 2px; height: 2px; --tx: 53px; --ty: -103px; animation-duration: 19s; animation-delay: 4s; }
.particle:nth-child(34) { left: 95%; top: 65%; width: 3px; height: 3px; --tx: -43px; --ty: -113px; animation-duration: 17s; animation-delay: 1s; }
.particle:nth-child(35) { left: 8%; top: 8%; width: 4px; height: 4px; --tx: 63px; --ty: -123px; animation-duration: 21s; animation-delay: 3s; }
.particle:nth-child(36) { left: 92%; top: 92%; width: 2px; height: 2px; --tx: -53px; --ty: -78px; animation-duration: 15s; animation-delay: 5s; }
